/*responsive css start*/
.mobile-block {
  display: none; 
}

@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {

}

@media all and (max-width: 768px) {
    .hero-text {
        margin-top: 0;
        padding: 0 70px;
    }
    .about-image {
        text-align: center;
        margin-bottom: 60px;
    }
    .about-text {
        text-align: center;
    }
    .wmu-different-area {
        margin-top: 120px;
    }
    .wmu-different-text {
        z-index: 1;
    }
    .wmu-image-wrap {
        opacity: .5;
    }
    .footer-widget.footer-about {
        padding-right: 0;
        padding: 0 70px;
        margin-bottom: 70px;
    }
    .footer-widget.footer-contact {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .hero-text {
        padding: 00;
    }
    .hero-text h2 {
        font-size: 45px;
    }
    .appoinment-image-wrap {
        display: none;
    }
    .news-area .row.ng .col-6 {
        margin: 0 0 !important;
        padding: 0 0 !important;
    }
    .single-news.d-flex {
        display: block !important;
    }
    .article-content {
        padding: 20px 20px;
    }
    .single-news.st-link .article-content .inline-btn {
        margin-left: 0;
    }
    .article-thumb {
        width: 100%
    }
    .footer-widget.footer-about {
        text-align: center;
        padding: 0 0;
    }
    .footer-widget.footer-newsletter {
        margin-top: 35px;
        text-decoration-color: 
    }
    
}
/*# sourceMappingURL=responsive.css.map */
/*responsive css end*/