@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Unna:wght@400;700&display=swap');
/*base css start*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #464646;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

a,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    outline: medium none;
    display: inline-block;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: #FF61AC;
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Unna', serif;
    font-weight: 700;
    color: #000;
    text-transform: normal;
    margin: 0 0 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    line-height: 1.9;
}

p:last-child {
    margin-bottom: 0;
}


*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

.slick-slide img {
    display: inline-block;
}

strong {
    color: #000;
}

.bg-img {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-soft-red {
    background: #FFECF5;
}

.row.bg-soft-red {
    border: 1px dashed #FF61AC;
}

.pd-t-120 {
    padding-top: 120px;
}

.pd-tb-120 {
    padding: 120px 0;
}

.area-title {
    margin-bottom: 75px;
}

.area-title h2 {
    font-size: 45px;
}

.box-btn {
    background: #FF61AC;
    color: #fff;
    padding: 12px 30px 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.box-btn.big-btn {
    padding: 15px 35px 13px;
}

.box-btn:hover {
    color: #f1f1f1;
}

.inline-btn {
    display: inline-block;
    color: #FF61AC;
}
/*base css end*/

/*header start*/
.header-area {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(255, 97, 172, .1);
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    display: block;
    color: #464646;
    padding: 18px 17px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}

.header-area.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
}

/*header end*/

/*hero start*/
.hero-area {
    height: 768px;
    width: 100%;
}

.hero-text {
    margin-top: 30px;
    font-size: 18px;
}

.hero-text span {
    display: block;
    color: #FF61AC;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

/*hero end*/

/*focus start*/
.single-focus {
    padding: 85px 30px;
}

.focus-icon {
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    border: 1px solid #FF61AC;
    border-radius: 50%;
    margin-bottom: 20px;
}

.focus-content h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
/*focus end*/

/*about start*/
.about-image {
    margin-right: 15px;
}

.about-text {
    font-size: 20px;
}

.about-text p:last-child {
    margin-bottom: 20px;
}
/*about end*/

/*service start*/
.single-service {
    margin: 15px 0;
}

.service-thumb {
    height: 190px;
}

.service-content {
    padding: 30px 30px;
    box-shadow: 0 0 5px rgba(255, 97, 172, .1);
    transition: all 0.3s ease-out 0s;
}

.single-service:hover .service-content {
    background: #FFECF5;
}

.service-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FF61AC;
    margin-bottom: 18px;
}
/*service end*/

/*wmu-different-area start*/
.wmu-different-area {
    padding: 80px 0;
    position: relative;
    margin-top: 220px;
}

.wmu-different-text h2 {
    font-size: 45px;
    margin-bottom: 22px;
}

.wmu-different-list {
    margin-top: 35px;
}

.wmu-different-list li {
    position: relative;
    padding-left: 35px;
    padding-bottom: 22px;
    line-height: 32px;
}

.wmu-different-list li:last-child {
    padding-bottom: 0px;
}

.wmu-different-list li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.wmu-image-wrap {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 50%;
}
/*wmu-different-area end*/

/*testimonial start*/
.single-testimonial {
    position: relative;
    border: 1px dashed #FF61AC;
}

.single-testimonial {
    padding: 50px 35px;
}

.author-image {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-bottom: 25px;
    border: 1px solid #FF61AC;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-content p {
    font-style: italic;
    margin-bottom: 25px;
}

.testimonial-content h3 {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.testimonial-quote-icon {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 50px;
}

.testimonial-carousel-authors {
    margin-top: 35px;
}

.single-testimonial-author.slick-slide.slick-current:focus {
    outline: 0;
}
/*testimonial end*/

/*news start*/
.single-news {
    box-shadow: 0 0 5px rgba(255, 97, 172, .1);
    transition: all 0.3s ease-out 0s;
    margin: 15px 0;
}

.single-news:hover {
    background: #FFECF5;
}

.article-thumb {
    width: 190px;
    height: 190px;
}

.article-content {
    padding-left: 20px;
    padding-right: 10px;
}

.article-content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.single-news.st-link .article-content .inline-btn {
    margin-left: 8px;
}

/*news end*/

/*appoinment start*/
.appoinment-form input,
.appoinment-form textarea {
    display: block;
    width: 100%;
    border: 0;
    background: #fff;
    padding: 10px 15px;
    margin: 15px 0;
    resize: none
}

.appoinment-form textarea {
    min-height: 100px;
}

.appoinment-form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}
/*appoinment end*/

/*footer start*/
.footer-top {
    padding: 80px 0 60px;
}

.footer-widget.footer-about {
    padding-right: 50px;
}

.footer-widget img {
    margin-bottom: 20px;
}

.footer-widget h3 {
    margin-bottom: 30px;
    font-size: 24px;
}

.footer-widget.footer-links a {
    display: block;
    padding: 6px 0;
    color: #464646;
}

.footer-widget.footer-contact {
    padding-left: 30px;
}

.footer-widget.footer-contact p {
    margin-bottom: 0;
    padding: 9px 0;
    line-height: 1;
}

.footer-widget.footer-contact p a {
    color: #464646;
}

.footer-social {
    margin-top: 15px;
}

.footer-social h3 {
    margin-bottom: 10px;
}

.footer-social a {
    color: #FF61AC;
    font-size: 20px;
    display: inline-block;
    padding-right: 12px;
}

.newsletter-form input[type="email"] {
    display: block;
    width: 100%;
    border: 0;
    padding: 15px 25px;
    background: #FFECF5;
    margin-bottom: 15px;
}

.footer-bottom {
    padding: 22px 0 17px;
    background: #FF61AC;
    color: #fff;
}
.footer-bottom a {
    color: #f1f1f1;
}
.footer-bottom a:hover {
    color: #333;
}

/*footer end*/